</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        text-align: center;
    }

    a {
        color: #00B7FF;
    }
</style>

<body>
    <h1>
        Bài tập lab7 - MOB402
    </h1>

    <a href="/book/" class="btn" onclick="return confirm('Bạn chưa đăng nhập, bạn có muốn chuyển qua trang đăng nhập?')">List book</a> |
    <a href="/auth/">Login</a> |
    <a href="/auth/dangKy">Register</a>

    <p>Phùng Chí Kiên - PH23267</p>
</body>

</html>