<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Bài 3</title>
</head>

<body>
    <div class="container text-center">
        <h2 style="color: red;">Bài thơ Yêu đời </h2>
        <h4>(Nguyễn Hữu Bào)</h4>
        <p>
            <i style="color: brown;">Đêm qua mưa thật là to <br>
                Trăng sao ướt hết tối mò buồn ghê <br>
                Sáng nay trời vội trở về <br>
                Chiếu muôn tia nắng trên đê trong làng <br></i>
            <br>
            <b style="color: orchid;"> Bầy chim mừng rỡ hót vang<br>
                Vườn hoa trước ngõ bướm vàng nhởn nhơ<br>
                Mẹ em phơi lụa hồng tơ<br>
                Ngắm mây em viết bài thơ yêu đời<br>
                Nắng hòa mưa thuận khắp nơi<br>
                Em mơ em ước mọi người ấm no.<br></b>

        </p>

        {{{body}}}
    </div>

</body>

</html>