<div class="container-fluid" style="background-color: gainsboro;">
    <div class="d-flex bd-highlight ">
        <div class="d-flex">
            <a class="nav-link me-2" href="/home" style="margin-left: 16px; display: flex; align-items: center;">
                <img src="http://localhost:3000/images/logo.png" style="width: 100%; height: 50px;">
            </a>

        </div>
        <div class="ms-auto bd-highlight">
            <nav class="navbar navbar-expand-sm ">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <form class="d-flex mt-3 mb-3">
                            <div class="input-group mx-5">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <li class="nav-item dropdown mt-3 mb-3">
                            <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                                <img src="/images/ic_menu.png" alt="" style="width: 30px; height: 30px;">
                            </a>
                            <ul class="dropdown-menu text-center dropdown-menu-sm-end">
                                <li><a class="dropdown-item" href="/detailUser"><i class="fas fa-user me-2"></i>Thông
                                        tin</a>
                                </li>
                                <li><a class="dropdown-item" href="/changePass"><i class="fas fa-edit me-2"></i>Đổi mật khẩu</a>
                                </li>
                                <li><a class="dropdown-item" href="/"><i class="fas fa-sign-out-alt me-2"></i>Đăng
                                        xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>